body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color : #F9FAF8;
}
.nav {
    display: flex;
}
.header {
    font-size: 48px;
    font-weight: extra-bold;
}

.main {
    display: flex;
    background-color: white;
    color: black;
    flex: 1;
}
.footer {
    background-color: #1F2937;
    color : #F9FAF8;
    display: flex;
}